<div class="card mb-4">
  <div class="position-absolute card-top-buttons">
    <button class="btn btn-outline-white icon-button"><i class="simple-icon-pencil"></i></button>
  </div>
  <img src="/assets/img/detail.jpg" alt="Detail" class="card-img-top" />
  <div class="card-body">
    <p class="text-muted text-small mb-2">{{ 'pages.description' | translate }}</p>

    <p>The World Cup to be hosted at Milli Gimnastika Arenası (National Gymnastics Arena) in spring, will be in Artistic Gymnastics.  </p>
    <p>This World Cup, which will also qualify for the Tokyo 2020 Olympic Games will be organized on March 12-15. </p>
    <p>According to the registration list, 42 countries wish to participate at the World Cup.  Approximately 360 people within delegations, including 158 men and women artistic gymnasts in total, will visit Baku for this competition.</p>
    <p>It should be mentioned that there will be qualifications on the first 2 days of 4-day competitions, while finals will take place on the next 2 days.</p>
    <p class="mb-3">In the tournament, the traditional “AGF Trophy” will be presented to the gymnasts who got the highest execution score.</p>

  </div>
</div>
