<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-12">
        <app-icon-cards-carousel></app-icon-cards-carousel>
        <div class="row">
            <div class="col-md-12 mb-4">
                <app-calendar></app-calendar>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12">
        <div class="row">
            <div class="col-md-12 mb-4">
                <app-logs></app-logs>
            </div>
            <div class="col-md-12 mb-4">
                <app-reservation-statuses></app-reservation-statuses>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
