<ng-template #UsersTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'projects.new_user' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>{{ 'projects.usersform.first_name' | translate }}</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>{{ 'projects.usersform.last_name' | translate }}</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>{{ 'projects.settingsform.country' | translate }}</label>
            <ng-select [items]="country" bindLabel="Name" bindValue="Alpha3Code" [(ngModel)]="selectedCountry"></ng-select>
        </div>
        <div class="form-group">
            <label>{{ 'projects.usersform.role' | translate }}</label>
            <ng-select [items]="role" bindLabel="Name" bindValue="Id" [(ngModel)]="selectedRole"></ng-select>
       </div>
        <div class="form-group">
            <label>{{ 'projects.usersform.email' | translate }}</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>{{ 'projects.usersform.phone' | translate }}</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
    </div>
</ng-template>